{% extends 'main.html' %}
{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/qrcodestyle.css' %}" />
{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="/{{qrcode.qrcode}}"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 480px; border-radius: 10px;">
              </div>
              </div>
            </div>
          </div>
          <div class="flex-grow-1 my-3">
            <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
              style="background-color: #efefef;">
              <h5>{{qrcode.created_at}}</h5>
              <h5 class="mb-1 my-5">{{qrcode.name}}</h5>
            </div>
            <div class="d-flex pt-1">
              <button type="button" class="btn btn-primary flex-grow-1">Confirm</button>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}