{% extends 'main.html' %}
{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}
{% block content %}
{% load static %}
<form method="POST" class="d-flex flex-column">
    {% csrf_token %}
    <h1>Employer Log in</h1>
    <div class="inset">
    <p>
        <label for="name">name</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
      <label for="email">EMAIL</label>
      <input type="text" name="email" id="email">
    </p>
    <p>
      <label for="password1">PASSWORD</label>
      <input type="password" name="password1" id="password1">
    </p>
    <p>
        <label for="password2">PASSWORD CONFIRM</label>
        <input type="password" name="password2" id="password2">
    </p>
    <p>
        <label for="password">PHONE NUMBER</label>
        <input type="text" name="phone" id="phone">
    </p>

    </div>
    <button class="btn btn-dark btn-login" type="submit">Sign in </button>
  </form>
{% endblock %}